<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
<nav class="navbar">

		<div class="container-fluid">
			<div class="navbar-holder d-flex align-items-center justify-content-between">
			  <!-- Navbar Header-->
			<div class="navbar-header">
			  <!-- Navbar Brand --><a href="/" class="navbar-brand d-none d-sm-inline-block">
			    <div class="brand-text d-none d-lg-inline-block"><strong>MLDA</strong><span>·Crowd</span></div>
			  <!-- Toggle Button--><a id="toggle-btn" href="/" class="menu-btn active"><span></span><span></span><span></span></a>
			</div>
			<!-- Navbar Menu -->
			<ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
			  <!-- Logout    -->
			  <li class="nav-item" th:if="${session.user!=null}">
			  	<span th:text="${session.user.nickname}" class="d-none d-sm-inline"></span>
			  </li>

			  <li class="nav-item" th:if="${session.user!=null}">
			  	<a href="/logout" class="nav-link logout">
			  		<span class="d-none d-sm-inline">Logout</span>
			  		<i class="fa fa-sign-out"></i>
			  	</a>
			  </li>
			   <!-- Login    -->
			    <li class="nav-item" th:if="${session.user==null}">
			    	<a href="/login" class="nav-link logout">
			    		<span class="d-none d-sm-inline">Login</span>
			    		<i class="fa fa-sign-out"></i>
			    	</a>
			    </li>
			  </ul>
			</div>
		</div>
	</nav>
</div>